# tests
tox
pytest

# code formatter + checks?
black

# static code analysis
bandit
safety
flake8
flake8-bandit
flake8-docstrings
flake8-rst-docstrings

# docs
darglint
#pyment
doq

# contributing
pre-commit
dco-check

# publishing
twine
bumpversion
